[submodule "Externals/glm"]
	path = Externals/glm
	url = https://github.com/g-truc/glm.git
[submodule "Externals/LuaJIT"]
	path = Externals/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
	branch = refs/heads/v2.1
[submodule "Externals/luabind-deboostified"]
	path = Externals/luabind-deboostified
	url = https://github.com/decimad/luabind-deboostified
[submodule "Externals/libpng/source"]
	path = Externals/libpng/source
	url = https://github.com/glennrp/libpng
	branch = master
[submodule "Externals/freetype/source"]
	path = Externals/freetype/source
	url = https://github.com/freetype/freetype2
	branch = master
[submodule "Externals/zlib/source"]
	path = Externals/zlib/source
	url = https://github.com/madler/zlib
	branch = master
[submodule "Externals/reactphysics3d/source"]
	path = Externals/reactphysics3d/source
	url = https://github.com/DanielChappuis/reactphysics3d
	branch = master
