[submodule "Externals/glm"]
	path = Externals/glm
	url = https://github.com/g-truc/glm.git
[submodule "Externals/zlib"]
	path = Externals/zlib
	url = https://github.com/bouzi71/zlib.git
[submodule "Externals/luajit"]
	path = Externals/luajit
	url = https://github.com/LuaJIT/LuaJIT.git	
