<?xml version="1.0" ?>
<xml>
	<Settings Type="Group">
		<Video Type="Group">
			<WindowSize Type="Vec2">1280.000, 1024.000</WindowSize>
			<VSyncEnabled Type="Bool">false</VSyncEnabled>
			<MultisampleEnabled Type="Bool">false</MultisampleEnabled>
		</Video>
		<FileSystem Type="Group">
			<UserdataPath Type="String">O:/ZenonEngine_userdata/</UserdataPath>
		</FileSystem>
	</Settings>
</xml>
